In [17]:
import numpy as np
NUMCLASS = 3
dimension = 256 * 256 * 3
import math


def mec(data, label):
    data["sum"] = data.sum(axis=1)
    data = data.sort_values(by=['sum'])
    check = label[0]
    threshold = np.zeros(3)
    mec = 0
    for i in range(data.shape[0]):
        if label[i] != check:
            threshold[label[i]] += 1
            check = label[i]
    for i in range(NUMCLASS):
        mec += (1 / NUMCLASS) * math.log2((threshold[i] + 1)) * dimension
    return mec

In [18]:
from PIL import Image
import pandas as pd
import numpy as np
import os
root_dir = './data/processed_ODIR/training/' # dry_158_left.jpg
features, labels = [], []
label_map = {'dry': 0, 'normal': 1, 'wet': 2}


for filename in os.listdir(root_dir):
    file_dir = root_dir + filename
    img = np.array(Image.open(file_dir).convert("RGB")).ravel()
    label = label_map[filename.split("_")[0]]
    
    features.append(img)
    labels.append(label)

    
features_dataframe = pd.DataFrame(features)
mec(features_dataframe, lables)

834415.3244082755

          y    x  red  green  blue
0         0    0    0      0     0
1         0    1    0      0     0
2         0    2    0      0     0
3         0    3    0      0     0
4         0    4    0      0     0
...     ...  ...  ...    ...   ...
262139  511  507    0      0     0
262140  511  508    0      0     0
262141  511  509    0      0     0
262142  511  510    0      0     0
262143  511  511    0      0     0

[262144 rows x 5 columns]